.home-page-col {
	color: black;
	padding: 25px;
	text-align: center;
}

.home-page-col p {
	padding: 20px;
}

.icon-large {
	font-size: 80px;
}

.icon-large span {
	display: block;
	font-weight: 100;
	font-size: 2rem;
}

.icon-large a {
	color: black;
}

.icon-large a:hover {
	color: #2594C8;
	text-decoration: none;
}
