html {
	height: 100%;
}

body {
	display: flex;
  flex-direction: column;
  height: 100vh;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
}

.content {
  flex: 1 0 auto;
}

.footer {
	flex-shrink: 0;
	padding: 25px;
	text-align: center;
	color: #eceeef;
}

button:focus,
input:focus
{outline:0;}

.navbar-custom {
	background-color: #000000;
	padding-left: 25px;
	border-bottom: 2px solid #FFFFFF;
	color: #ffffff;
}

.navbar-custom a {
	color: #edf4f9;
}

.navbar-custom a:hover {
	color: #ffffff;
}

.navbar-brand {
	font-weight: 200;
}

.nav-link {
	font-weight: 300;
}

.nav-item .nav-link:hover {
	color: #2594C8 !important;
}

.nav-item .nav-link.active {
	color: #2594C8 !important;
}

.logo {
	height: 70px;
	width: 70px;
	margin-right: 45px;
}

.bg-black {
	background-color: black;
}



.copyright {
	font-size: 11px;
	font-weight: 200;
}

.results {
	background-color: #f7f7f7;
	padding: 10px;
	z-index: 999;
	opacity: 1;
}

.hidden {
	display: none;
}

.sold-out {
	font-size: 12px;
	position: absolute;
	float: right;
}

.border-bottom {
	border-bottom: 1px solid #FFFFFF;
}

.result-number {
	font-size: 25px;
}

.result-sticky {}

h3.light {
	color: #555555;
	font-weight: 400;
}

h3.light i {
	font-size: 15px;
	vertical-align: middle;
}

h6.result-header {
	margin-top: 16px;
	margin-bottom: 1px;
	font-size: 17px;
	font-weight: 200;
}

.jumbotron-small {
	padding: 10px;
	text-align: center;
	background-color: #2594C8;
	color: #FFFFFF;
	font-weight: 100;
	font-size: 2rem;
}

.info-results {
	font-size: 12px;
	padding: 10px 5px;
}

.info {
	font-size: 12px;
}

// .jumbotron-custom {
// 	background-color: #000000;
// 	color: #FFFFFF;
// }
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.result-sticky.desktop {
		visibility: visible;
		display: block;
	}

	.result-sticky.phone {
		visibility: hidden;
		display: none;
	}
}
@media (max-width: 768px) {
	.result-sticky.desktop {
		visibility: hidden;
		display: none;
	}

	.result-sticky.phone {
		visibility: visible;
		display: block;
	}
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
