form {
	font-weight: 300;
}

label.col-form-label {
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 0;
	padding: 0;
}

.display-number {
	font-size: 40px;
	font-weight: 600px;
}

.lead-header {
	padding-bottom: 0;
	margin-bottom: 0;
}
